
.content-body
{
	background-color: #373a40;
	width: 65%;
	height: 1080px;
	color: White;
	margin-left: 17.5%;
	margin-right: 17.5%;
}

.peak
{
	background-image: url("back.png");
}

.userName
{
	text-align: left;
	padding: 1em 2em 1em 2em;
}

.header
{
	background-color: #292a2e;
	padding: 0.25em 0em 0.25em 0em;
}

.header span
{
	padding: 0.25em 0.75em 0.25em 0.75em;
}
